<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :option %><br />
    <%= f.text_field :option %>
  </div>
  <div class="field">
    <%= f.label :is_true %><br />
    <%= f.check_box :is_true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
